<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginLLMTest"
        tools:targetApi="31" >
        <activity
            android:name="org.ufc.great.llm.screens.Tela_Login_Compose_Access_1"
            android:exported="false"
            android:theme="@style/Theme.LoginLLMTest" >
        </activity>
        <activity
            android:name="org.ufc.great.llm.screens.Tela_Login_Compose_1"
            android:exported="false"
            android:theme="@style/Theme.LoginLLMTest" >
        </activity>
        <activity
            android:name="org.ufc.great.llm.screens.Tela_Login_Compose_Access_2"
            android:exported="false"
            android:theme="@style/Theme.LoginLLMTest" >
        </activity>
        <activity
            android:name="org.ufc.great.llm.screens.Tela_Login_Compose_2"
            android:exported="false"
            android:theme="@style/Theme.LoginLLMTest" >
        </activity>
        <activity
            android:name="org.ufc.great.llm.screens.Tela_Login_Compose_Access_3"
            android:exported="false"
            android:theme="@style/Theme.LoginLLMTest" >
        </activity>
        <activity
            android:name="org.ufc.great.llm.screens.Tela_Login_Compose_3"
            android:exported="false"
            android:theme="@style/Theme.LoginLLMTest" >
        </activity>
        <activity
            android:name="org.ufc.great.llm.screens.Tela_Login_CL_3"
            android:exported="false"
            android:theme="@style/Theme.LoginLLMTest" >
        </activity>
        <activity
            android:name="org.ufc.great.llm.screens.Tela_Login_CL_Access_3"
            android:exported="false"
            android:theme="@style/Theme.LoginLLMTest" >
        </activity>
        <activity
            android:name="org.ufc.great.llm.screens.Tela_Login_CL_2"
            android:exported="false"
            android:theme="@style/Theme.LoginLLMTest" >
        </activity>
        <activity
            android:name="org.ufc.great.llm.screens.Tela_Login_CL_Access_2"
            android:exported="false"
            android:theme="@style/Theme.LoginLLMTest" >
        </activity>
        <activity
            android:name="org.ufc.great.llm.screens.Tela_Login_CL_1"
            android:exported="false"
            android:theme="@style/Theme.LoginLLMTest" >
        </activity>
        <activity
            android:name="org.ufc.great.llm.screens.Tela_Login_CL_Access_1"
            android:exported="false"
            android:theme="@style/Theme.LoginLLMTest" >
        </activity>
        <activity
            android:name="org.ufc.great.llm.screens.Tela_Login3"
            android:exported="false"
            android:theme="@style/Theme.LoginLLMTest" >
        </activity>
        <activity
            android:name="org.ufc.great.llm.screens.Tela_Login_Access_3"
            android:exported="false"
            android:theme="@style/Theme.LoginLLMTest" >
        </activity>
        <activity
            android:name="org.ufc.great.llm.screens.Tela_Login_Access_2"
            android:exported="false"
            android:theme="@style/Theme.LoginLLMTest" >
        </activity>
        <activity
            android:name="org.ufc.great.llm.screens.Tela_Login2"
            android:exported="false"
            android:theme="@style/Theme.LoginLLMTest" >
        </activity>
        <activity
            android:name="org.ufc.great.llm.screens.Tela_Login_Access_1"
            android:exported="false"
            android:theme="@style/Theme.LoginLLMTest" >
        </activity>

        <activity
            android:name="org.ufc.great.llm.screens.Tela_Login1"
            android:exported="false"
            android:label="@string/title_activity_tela_login1"
            android:theme="@style/Theme.LoginLLMTest" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LoginLLMTest" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>